{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    Playlist
  </h3>
  <p>
    A Little Playlist Maker - Version 1
    Another in a long line of node/express apps
  </p>
</section>